/**
 * This css file contains style modification rules for all options
 * which can be de-/activated in the control area.
 */

/* Filter [data-filter] */
/* - Filter: Topic [data-filter-topic] */
#content[data-filter-topic] {
}

/* - Filter: Bible Passage List [data-filter-list] */
#content[data-filter-list] {
}
#title-bible-passage-list {
	display: none;
}
#content[data-filter-list] > #title-default {
	display: none;
}
#content[data-filter-list] > #title-bible-passage-list {
	display: block;
}
#content[data-filter-list] .bible-passage .topics-secondary {
	display: none;
}


/* Show/Hide certain elements */
/* - .translation */
#content.show-translation .bible-passage .translation {
	display: inline-block;
}
#content.hide-translation .bible-passage .translation {
	display: none;
}

/* - .topics-secondary */
#content.show-topics-secondary .bible-passage .topics-secondary {
	display: inline-block;
}
#content.hide-topics-secondary .bible-passage .topics-secondary {
	display: none;
}
